<form class="well edit-form-wrapper">
        <p>
          <label class="col-sm-3">Name</label>
          <input class="col-sm-8" type="text" name="name" ng-model="copydata.name" />
        </p>
        <p><label class="col-sm-3">Email</label>
        <input class="col-sm-8" type="text" name="email" ng-model="copydata.email" />
        </p>
        <p><label class="col-sm-3">Phone</label>
        <input class="col-sm-8" type="text" name="phone" ng-model="copydata.phone" /></p>
        <p><label class="col-sm-3">Password</label>
        <input class="col-sm-8" type="text" name="phone" ng-model="copydata.password" /></p>
        <br/>
        <input type="hidden" name="id" ng-model="copydata.id" />
        <input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary" />
        <input type="button" value="Cacel" ng-click="cancel()" class="btn btn-primary" />
    </form>